.background {
    background-color: #a19595;
    margin: 20px;
    margin-bottom: 60px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    size: 8px;
    margin-left: 40px;
}