<ion-card-subtitle>Amazon originals</ion-card-subtitle>
<ion-slides>
    <ion-slide>
        <ion-card>
            <ion-card-header>
                <ion-item href="https://www.google.com/" target="_blank" alt="prova">
                    <img src="./assets/icon/favicon.png" alt="logoPg3">
                </ion-item>
            </ion-card-header>
        </ion-card>
    </ion-slide>

    <ion-slide>
        <ion-card>
            <ion-card-header>
                <ion-item href="https://www.google.com/" target="_blank" alt="prova">
                    <img src="./assets/icon/logoPg3.png" alt="logoPg3">
                </ion-item>
            </ion-card-header>
        </ion-card>
    </ion-slide>

    <ion-slide>
        <ion-card>
            <ion-card-header>
                <ion-item href="https://www.google.com/" target="_blank" alt="prova">
                    <img src="./assets/icon/favicon.png" alt="logoPg3">
                </ion-item>
            </ion-card-header>
        </ion-card>
    </ion-slide>

    <ion-slide>
        <ion-card>
            <ion-card-header>
                <ion-item href="https://www.google.com/" target="_blank" alt="prova">
                    <img src="./assets/icon/logoPg3.png" alt="logoPg3">
                </ion-item>
            </ion-card-header>
        </ion-card>
    </ion-slide>
</ion-slides>