<ion-card-subtitle>Amazon originals</ion-card-subtitle>

<div>
    <ion-card>
        <ion-card-header>
            <ion-item href="https://www.google.com/" target="_blank" alt="prova">
                <img src="https://image.tmdb.org/t/p/w500//5TYgKxYhnhRNNwqnRAKHkgfqi2G.jpg" alt="logoPg3">
            </ion-item>
        </ion-card-header>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-item href="https://www.google.com/" target="_blank" alt="prova">
                <img src="https://image.tmdb.org/t/p/w500//pWHf4khOloNVfCxscsXFj3jj6gP.jpg" alt="logoPg3">
            </ion-item>
        </ion-card-header>
    </ion-card>
</div>